html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", Avenir, Georgia, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  text-shadow: 0 0 10px #c80102;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
