@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .width-65ch {
    width: 65ch;
  }
}

/**
 * Remove quotes from block quote
 **/
.prose blockquote p:before {
  content: "";
}
.prose blockquote p:after {
  content: "";
}
.prose p > img {
  margin-left: auto;
  margin-right: auto;
}

/* ConvertKit */
.seva-form.formkit-form {
  border: none !important;
}
